<!DOCTYPE html>
<html>

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Node.js Express MongoDB CRUD</title>
    <style>
        html,
        body {
            height: 100%;
        }
    </style>
</head>

<body class="bg-info bg">
    <div class="navbar-brand">
        <a class="navbar-brand font-weight-bold" aria-current="page" href="/toy/list">
            <i class="fa fa-home" aria-hidden="true"></i>
            Home
        </a>
        <a class="navbar-brand" href="/toy/list">Products</a>
        <a class="navbar-brand" href="/com/list">Company</a>
    </div>
    <div class="row h-100 align-items-center">
        <div class="col-md-6 offset-md-3 tableinformation table">
            {{{body}}}
        </div>
    </div>
</body>

</html>