.tableinformation{
    margin-left:5.9%;
    background-color: white; 
    opacity: .9;
    margin-top:15px;
    padding:20px;
}
.navbar-brand { 
    background: white;
    float: none;
    height: 50px; 
    padding: 15px 15px; 
    font-size: 18px; 
    line-height: 20px; 
    text-align: center;
    color: red;
    margin-left: 10%
}

.bg{
    background-image: url('/img/background.jpg');
    max-width: 90%;
}

.iconshop{
    background-image: url('/img/toy.png');
}

.titlenname{
    color: darkblue;
    font-weight: bold;
}


